h1 {
  font-weight: bold;
  font-size: 26px;
  color: black;
}

h2 {
  font-weight: bold;
  font-size: 22px;
  color: aqua;
}
.image-grid1 {
    height = 100px;
}
.image-grid2 {
    height = 100px;
    width = 300px;
}
