body {
  font-family: "Figtree", sans-serif;
  text-decoration: none;
}
a:link {
  color: white;
  font-weight: bold;
}

a:visited {
  color: purple;
  font-weight: bold;
}

a:hover {
  color: hotpink;
  font-weight: bold;
}

a:active {
  color: red;
  font-weight: bold;
}
